/*  */
.space-responsive-basicplan {
    margin-top: 80px;
}

/* Media Queries untuk ukuran layar yang berbeda */
@media only screen and (max-width: 1200px) {
    /* .space0-responsive {
        margin-top: 70px;
        margin-bottom: 60px;
        padding: 30px;
    } */
}

@media only screen and (max-width: 992px) {
    /* .space0-responsive {
        margin-top: 70px;
        margin-bottom: 60px;
        padding: 30px;
    } */
}

@media only screen and (max-width: 768px) {
    /* .space0-responsive {
        margin-top: 70px;
        margin-bottom: 60px;
        padding: 30px;
    } */
}

@media only screen and (max-width: 576px) {
    /* device a51 header */
    .space0-responsive {
        padding-top: 50px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }    
    /* space built by developers */
    .pding0-responsive {
        padding: 20px;
    }
    .space1-responsive {
        margin-top: 25px;
    }
    /* space lihat harga kami */
    .top0-responsve {
        height: 260px;
    }
    /*  */
    .margin-price-responsive-space {
        padding-top: 140px!important;
    }
    /* none border */
    .card-no-border-responsive {
        border: none;
    }
    /*  */
    .space2-responsive-footer {
        padding-bottom: 25px;
    }
    /*  */
    .space-responsive-basicplan {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 490px) {
    .space0-responsive {
        margin-top: 70px;
        margin-bottom: 60px;
        padding: 30px;
    }
    .width0-text-responsive {
        width: 230px;
    }
    .space1-responsive {
        margin-top: 25px;
    }
    .pding0-responsive {
        padding: 20px;
    }
    .padding0-responsive {
        width: 300px;
    }
    .text0-responsive {
        font-size: 20px;
    }
    .top0-responsve {
        margin-top: 120px;
        height: 250px;
    }
    .top-card0-responsve {
        margin-top: 100px;
    }
    .cnter0-image-responsve {
        margin: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}